﻿<ion-view view-title="어부바" hide-back-button="true" >
<ion-content  padding="true" >
	환경설정홈
	<button class="button button-block button-positive button-outline" ng-click="logout()" >로그아웃</button>


</ion-content  >
</ion-view>
