﻿<ion-view view-title="어부바 - 자녀등록" hide-back-button="false" hide-tabs class="slide-down-up" >
<ion-content  padding="true" >
	<form name="addChildForm" >
		<div class="row" >
			<div class="col-33 col-offset-33" style="height:30vw;" >
				<img class="profile-img" ng-src="{{newChild.photo}}" width="100%" height="100%" />
			</div>
		</div>
		<br/>
		<div class="row" >
			<div class="col" >
				<label class="item item-input no-border">
					<span class="input-label">이름</span>
					<input type="text" ng-model="newChild.name" placeholder="이름" required />
				</label>
			</div>
		</div>
		<div class="row" >
			<div class="col" >
				<label class="item item-input no-border">
					<span class="input-label">생년월일</span>
					<input type="date" ng-model="newChild.birthView"  placeholder="생년월일"  required />
				</label>
			</div>
		</div>
		<div class="row" >
			<div class="col" >
				<label class="item item-input item-select no-border">
					<div class="input-label">성별</div>
					<select ng-model="newChild.gender"  required >
						<option selected value="M" >남</option>
						<option  value="F" >여</option>
					</select>
				</label>
			</div>
		</div>
		<div class="row" >
			<div class="col" ng-click="searchPreschool();" >
				<label class="item item-input no-border">
					<span class="input-label">유치원</span>
					<input type="search" ng-model="newChild.preschoolName"  placeholder="유치원 검색" readonly  required />
				</label>
			</div>
		</div>
		<div class="row" ng-show="newChild.preschoolName" >
			<div class="col" >
				<label class="item item-input item-select no-border">
					<span class="input-label" >반선택</span>
					<select ng-model="newChild.class_id"  required >
						<option ng-repeat="c in classList" value="{{c.id}}" >{{c.name}}</option>
					</select>
				</label>
			</div>
		</div>
		<div class="row" >
			<div class="col" >
				<button class="button button-block button-positive" ng-click="addChild()" ng-disabled="addChildForm.$invalid" >등록하기</button>
			</div>
		</div>
	</form>
</ion-content  >
</ion-view>

<script id="searchPreschoolModal.html" type="text/ng-template">
<ion-modal-view>
	<ion-header-bar class="bar-positive" >
		<h1 class="title">유치원 검색</h1>
		<button class="button button-clear" ng-click="closeModal()" >X</button>
	</ion-header-bar>
	<ion-header-bar class="bar-subheader item-input-inset" >
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="유치원 이름" ng-model="search.keyword" >
		</label>
		<button class="button button-positive" type="submit" ng-click="search()" > 검색 </button>

	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item" collection-repeat="ps in preschoolList" item-height="130px" item-width="100%" ng-click="selPreschool(ps)" >
				<div class="row" >
					<div class="col" >
						<h1 class="txt-subTitle" >{{ps.preschool_name}}</h1>
					</div>
				</div>
				<div class="row" >
					<div class="col" >
						<div class="txt-subhead" >{{ps.director_name}} 원장님</div>
						<div class="txt-subhead" >{{ps.addr1 + " "+ps.detail_addr}}</div>
					</div>
				</div>
			</ion-item>	
		</ion-list>
	</ion-content>
</ion-modal-view>
</script>
