﻿<ion-side-menus ng-controller="directorSideCtrl" >

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button ></ion-nav-back-button>
      <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
	</ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-nav-view name="director" >
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">로그아웃</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<!--
<ion-side-menus>

	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark" >
			<ion-nav-back-button class="button-icon ion-arrow-left-c"> </ion-nav-back-button>
			<ion-nav-buttons side="left" >
				<button class="button button-icon button-clear ion-navicon" ng-click="console.log('asdf');" ></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-view view-title="어부바" >
			<ion-content>
				<button class="button button-positive button-block" >hello</button>
			</ion-content>
		</ion-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar bar-header bar-stable">
			<h1 class="title">Left</h1>
		</ion-header-bar>
		<ion-content class="has-header">
		<ion-list>
			<ion-item menu-close ng-click="login()">
			Login
			</ion-item>
			<ion-item menu-close href="#/app/search">
			Search
			</ion-item>
			<ion-item menu-close href="#/app/browse">
			Browse
			</ion-item>
			<ion-item menu-close href="#/app/playlists">
			Playlists
			</ion-item>
		</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
-->
<!--
<ion-view view-title="어부바" hide-back-button="false" >
<ion-content  padding="true" >
</ion-content  >
</ion-view>
-->
