﻿<ion-view view-title="어부바" hide-back-button="true" >
	<ion-content padding="true" >
		<div class="list" >
			<div class="card preschool-card" ng-repeat="p in preschool.list" >
				<div class="item p-preschool-card" style="background-image:url('{{p.photo}}')" >
					<div class="dim" ></div>
				</div>
				
				<div class="item" style="border:none;" ui-sref="parent.preschoolDetail({preschool : p})" >
					<div class="txt-title" >{{p.name}} <i class="ion-forward" ></i></div>
				</div>
			</div>
		</div>
		<button class="button button-positive button-block" >hello</button>
	</ion-content>
</ion-view>
