﻿<ion-view class="selectRolePage" view-title="어부바 - 시작하기" hide-back-button="true" >
<ion-content  padding="true" class="center-wrapper" >
	<div class="row">
		<div class="col txt-c" >
			<div class="txt-title" >
				{{u.name}}님!<br/>
				회원님은 어떤 서비스를 이용하시겠습니까? 
			</div>
			<p class="txt-subhead" >
				아래 서비스중 이용할 하나를 선택해주세요.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col" >
			<button class="button button-positive button-block" ng-click="parent()"  >부모</button>
		</div>

		<div class="col" >
			<button class="button button-positive button-block" disabled ng-click="teacher()"  >교사</button>
		</div>
		<div class="col" >
			<button class="button button-positive button-block"  disabled ng-click="director()"  >원장</button>
		</div>
	</div>


</ion-content  >
</ion-view>
