﻿<ion-view view-title="어부바" hide-back-button="true" >
<ion-content  padding="true" >

	<div class="list" ng-show="child != undefined && child.list.length > 0" >
		<div class="card" ng-repeat="c in child.list"  >
			<div class="item" style="background-color:white;" >
				<div class="row" >
					<div class="col-33 col-offset-33" style="height:30vw;" >
						<img ng-src="{{c.photo}}" class="profile-img" width="100%" height="100%" />
					</div>
				</div> 
			</div>
			<div class="item" style="border:none;">
				<div class="txt-title txt-c" >{{c.name}}</div>
				<div class="txt-subhead txt-c" >
					{{c.preschool_name}}<br/>
					<span ng-show="c.approve_state == 0" >승인대기중</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" >
				<button class="button button-block button-positive button-outline" ui-sref="parent.addChild" >등록하기</button>
			</div>
		</div>
	</div>
	<div ng-hide="child == undefined || child.list.length > 0" >
		<div class="row"  >
			<div class="col" >
				<div class="txt-title txt-c" >자녀를 등록하세요.</div>
				<p class="txt-subhead txt-c" >
				자녀들의 위치와 유치원 생활을 확인해보세요.
				</p>
			</div>

		</div>
		<div class="row">
			<div class="col" >
				<button class="button button-block button-positive button-outline" ui-sref="parent.addChild" >등록하기</button>
			</div>
		</div>
	</div>

</ion-content  >
</ion-view>

