﻿<ion-nav-bar class="bar-positive">
	<ion-nav-back-button class="button-clear">
	</ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-striped tabs-color-positive" ng-class="$root.hideTabs" >
	<ion-tab title="child" icon="ion-android-person" ui-sref="parent.child">
		<ion-nav-view name="child-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="preschool" icon="ion-home" ui-sref="parent.preschool" >
		<ion-nav-view name="preschool-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="preference" icon="ion-more" ui-sref="parent.pref">
		<ion-nav-view name="pref-tab"></ion-nav-view>
	</ion-tab>
<!--
	<ion-tab title="child" icon="ion-home" ui-sref="parent.child">
		<ion-nav-view name="child-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="preschool" icon="ion-ios-information" ui-sref="parent.preschool" >
		<ion-nav-view name="preschool-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="preference" icon="ion-ios-world" ui-sref="parent.pref">
		<ion-nav-view name="pref-tab"></ion-nav-view>
	</ion-tab>
	-->

</ion-tabs>
