﻿<ion-view view-title="어부바" hide-back-button="true" >
<ion-content  padding="true" >

	<ion-refresher pulling-text="loading" on-refresh = "refresh()" >
	</ion-refresher>
	<div class="list" ng-show="preschool.list.length > 0" >
		<div class="card preschool-card" ng-repeat="p in preschool.list"  >
			<div class="item p-preschool-card" style="background-image:url('{{p.preschool_photo}}')" >
				<div class="dim" ></div>
				
			</div>
			<div class="item" style="border:none;" ui-sref="parent.preschoolDetail({preschool : p})" >
				<div class="txt-title" >{{p.preschool_name}} <i class="ion-forward" ></i></div>
			</div>
			<div class="child-container" >
				<div ng-repeat="c in p.childList" class="child-thumbnail" > 
					<img ng-src="{{c.child_photo}}" width="50px" height="50px" />
				</div>
			</div>
			<div class="item" style="border:none;">
			<!--
				<button class="button button-positive" >버스위치</button>
				<button class="button button-positive button-outline" >공지사항</button>
				<button class="button button-positive button-outline" >일정표</button>
				<button class="button button-positive button-outline" >식단표</button>
				<br/>
				<button class="button button-positive button-outline" >사진첩</button>
				-->
				<div class="txt-subhead" >간단한 공지사항[2016.03.21]</div>
				<div>

					<button class="button icon ion-android-bus button-icon"></button>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="preschool.list.length > 0" >
		<div class="row"  >
			<div class="col" >
				<div class="txt-title txt-c" >자녀를 등록하세요.</div>
				<p class="txt-subhead txt-c" >
				자녀들의 위치와 유치원 생활을 확인해보세요.
				</p>
			</div>

		</div>
	</div>

</ion-content >
</ion-view>

