﻿<!--
<ion-header-bar class="bar-stable">
<h1 class="title">Login</h1>
</ion-header-bar>
-->
<ion-view hide-nav-bar="true" >
<ion-content class="center-wrapper loginPage"  >

<div class="row row-center" >
	<div class="col col-center list" >
		<form name="loginForm" >
			<div class="txt-c input-warn" ng-show="errMsg" >{{errMsg}}</div>
			<label class="item item-input item-floating-label" >
				<span class="input-label">아이디</span>
				<input type="text" placeholder="아이디" ng-model="user.user_id" name="user_id" required />
			</label>
			<label class="item item-input item-floating-label" >
				<span class="input-label">비밀번호</span>
				<input type="password" placeholder="비밀번호"  ng-model="user.password"  name="password" required />
			</label>
			<button class="button button-block button-positive" ng-disabled="loginForm.$invalid" ng-click="login()" >로그인</button>
		</form>
	</div>
</div>
<div class="row" >
	<div class="col" >
		<a href="javascript:void(0);" >로그인 정보 찾기</a>
	</div>
	<div class="col txt-r" >
		<a href="#/common/terms"  >아직 회원이 아니십니까?</a>
	</div>
</div>

</ion-content>
</ion-view>
