﻿<ion-view class="signUpPage" view-title="어부바 - 회원가입" hide-back-button="false" >
<ion-content  padding="true" >

	<form name="signUpForm" >
		<label class="item-input item-floating-label">
			<span class="input-label">아이디</span>
			<input type="text" name="user_id" ng-model="newUser.user_id" placeholder="아이디" ng-change="chkId()" />
		</label>
		<div class="input-warn" ng-show="errMsg.user_id" >{{errMsg.user_id}}</div>
		<label class="item-input item-floating-label">
			<span class="input-label">비밀번호 </span>
			<input type="password" name="password" ng-model="newUser.password" placeholder="비밀번호" ng-change="errMsg.password='' " >
		</label>
		<div class="input-warn" ng-show="errMsg.password" >{{errMsg.password}}</div>
		<label class="item-input item-floating-label">
			<span class="input-label">비밀번호 확인</span>
			<input type="password" name="password_c" ng-model="newUser.password_c"  placeholder="비밀번호" ng-change="errMsg.password_c=''" />
		</label>
		<div class="input-warn" ng-show="errMsg.password_c" >{{errMsg.password_c}}</div>
		<label class="item-input item-floating-label">
			<span class="input-label">이름</span>
			<input type="text"  name="name" placeholder="이름" ng-model="newUser.name"  ng-change="errMsg.name=''" >
		</label>
		<div class="input-warn" ng-show="errMsg.name" >{{errMsg.name}}</div>
		<label class="item-input item-floating-label">
			<span class="input-label">이메일</span>
			<input type="email"  name="email" placeholder="이메일" ng-model="newUser.email"  ng-change="errMsg.email=''" />
		</label>
		<div class="input-warn" ng-show="errMsg.email" >{{errMsg.email}}</div>
		</div>
		<label class="item-input item-floating-label">
			<span class="input-label">전화번호</span>
			<input type="tel"  name="phone" placeholder="전화번호" ng-model="newUser.phone"  ng-change="errMsg.phone=''" >
		</label>
		<div class="input-warn" ng-show="errMsg.phone" >{{errMsg.phone}}</div>
		<button class="button button-positive button-block" ng-click="signUp()"  >가입하기</button>
	</form>

</ion-content  >


</ion-view>
