/* Empty. Add your own CSS if you like */

.center-wrapper.scroll-content {
	display: table !important;
	width: 100% !important;
	height: 100% !important;
}
.center-wrapper .scroll {
	display: table-cell;
	vertical-align: middle;
}

.txt-r{
	text-align:right;
}
.txt-c{
	text-align:center;
}

.item-floating-label,
.item.no-border{
	border:none;
	border-bottom:1px solid #d9d9d9;
}



.termsPage h3{
	text-align:center;
}
.termsPage .terms{
	height:90% !important;
}
.termsPage .terms .col{
	height:100%;
	overflow:hidden;
}
.termsPage .agree{
	width:100%;
}


.input-warn{
	color:red;
	font-size:90%;
}
.txt-title {
	font-size:5vw;
	line-height:180%;
}
.txt-subTitle{
	font-size:4vw;
}
.txt-subhead{
	line-height:180%;
	color:#999999;
	font-size:3vw;
}
.profile-img{
	border-radius:50%;
	border:1px solid #d9d9d9;
	outline:none;
}

input[readonly]{
	background:none !important;
}
.p-preschool-card{
	background-position:center center;
	background-repeat :no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	height:120px;
	padding:0;
	position:relative;
}
.p-preschool-card .dim{
	background-color:rgba(0, 0, 0, 0.23);
	width:100%;
	height:100%;

}
.preschool-card{
	position:relative;
}
.child-container{
	position:absolute;
	width:100%;
	height:50px;
	top:95px;
	z-index:2;
}
.child-container .child-thumbnail{
	border-radius:50%;
	width:54px;
	height:54px;
	border:2px solid white;
	display:inline-block;
	margin-right:10px;
	float:right;
	
}
.child-container .child-thumbnail img{
	border-radius:50%;

}
